CompileFlags:
  CompilationDatabase: ./cmake-build-debug

Diagnostics:
  ClangTidy:
    Add:
      - readability-*
      - bugprone-*
      - performance-*
    Remove:
      - readability-magic-numbers
      - readability-identifier-length
  UnusedIncludes: Strict
  MissingIncludes: Strict

Index:
  Background: Build
  StandardLibrary: No

Completion:
  AllScopes: Yes

Hover:
  ShowAKA: Yes

XRefs:
  UsedSymbolCap: 5000